name: Release

on:
  push:
    paths:
      - '.github/workflows/release.yml'
      - 'flake.*'
      - 'nix/*'
      - 'Cargo.*'
      - 'assets/**/*'
      - 'src/**/*'
      - 'public/purify.min.js'

    tags:
      - '*'

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Nix
        uses: cachix/install-nix-action@v19
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      # DOCKER IMAGE

      - name: Build image
        run: |
          nix build .#emojied-docker
          docker load < result

      - name: Rename image
        run: docker tag emojied-docker:latest hsekun/emojied:latest

      - name: Push image
        run: docker push hsekun/emojied:latest

      # GITHUB RELEASE

      - name: Build release
        run: nix build .#emojied-unwrapped

      - name: Zip release
        run: |
          sudo apt install zip
          cd result/bin
          sudo zip emojied.zip emojied public/*

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            result/bin/emojied.zip
